today/.settings/.jsdtscope
today/.classpath
today/.project
today/.settings/org.eclipse.jdt.core.prefs
today/.settings/org.eclipse.m2e.core.prefs
today/.settings/org.eclipse.wst.common.component
today/.settings/org.eclipse.wst.jsdt.ui.superType.container
today/.settings/org.eclipse.wst.jsdt.ui.superType.name
today/.settings/org.eclipse.wst.validation.prefs
today/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
today/.settings/org.eclipse.wst.common.project.facet.core.xml
today/target/m2e-wtp/web-resources/META-INF/maven/com.sb/today/pom.xml
today/target/m2e-wtp/web-resources/META-INF/maven/com.sb/today/pom.properties
